<div>
    <h3>Options</h3>
    <input type='checkbox' name='system.healthOverride' {{checked system.healthOverride}}>
        Override Health (stops max health auto-updating)
    </input>
    <br>
    <input type='checkbox' name='system.halveHealth' {{checked system.halveHealth}}>
        Halve Health (for Foes)
    </input>
</div>